*{
/* border: 1px solid; */
}
body{
    padding: 40px;
    /* background-image: url("Img/grain\ Texture.svg"); */
}


#navbarNavAltMarkup{
    /* border: 1px solid black; */
}
.navbar {
    background: none;
    /* border: 1px solid black; */
}

.bg-body-tertiary{
    --bs-bg-opacity:1;
background-color: transparent !important;
}


.Spacer{
    width: 80%;
    background-color: aquamarine;
}

.xtras-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-navbar-color)rgba(0,0,0, 0.65);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    display: flex;
    align-items: center;

    gap: 10px ;
}


.Cart img{
    position: relative;
    left: -10px;
}
.Cart {
    display: flex;
    /* border:1px solid red; */

    align-items: center;
    justify-content: center;

}

.Cart a{
    align-items: center;

    /* border: 1px solid;    */
    border-radius: 50px;

    background-color: black;
    color: white;
}

.Cart .nav-link{
    /* border: solid 1px ; */
    width: 90px;
    height: 40px;
    text-align: center;

}

.d-flex .form-control{
    max-width: 500px;
    height: 50px;

    /* border:1px solid; */
    border-radius: 0px;

    background-color: #d4d4d4;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;

    /* border:1px solid; */
    position: relative;

    height: 40rem;

    left: 11px;

    display: flex;
    /* flex-direction: column; */
}

.what_here{
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 30px;

    /* border: 1px solid; */
    width: 40%;
}

.what_here #btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid blue; */
}


.lead {
    font-size: 1.25rem;
    font-weight: 300;

}
.lead.button a{
    max-width: 300px;
    display: flex;
    justify-content: space-between;

    background-color: grey;
}
.lead.button img{
    width: 5rem;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;

    /* border: 1px solid; */
    width: 100%;


}


/* HEADINGSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
.heading{
    font-family: 'Bold-Beatrice', Hevetica;
    font-size: 3rem;
    color: black;
    line-height: 40px;
}
.lead.subheading{
    font-family: 'Light-Beatrice', Hevetica;
    font-size: 2.5rem;
    line-height: 40px;
    font-style: italic;
    text-spacing-trim: 50px;
}


/* CAROUSELLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLl */
.Preview.Cover{
    /* border:1px solid; */
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.carousel.slide{
    position: relative;
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}

.carousel-inner{
    height: 90%;
}
.carousel-item {

    width: 400px;
    margin-right: 0;

    height: 50%;

    /* border: 1px solid; */
}

img{
    width: 100%;
    height: 100%;
}



.btn.Prev,
.btn.Next{
    width: 50px;
    height: 50px;

    border: 1px solid;

}

.Section{
    /* border: 1px solid; */

    margin: 10px;
}

.Section.three{
    text-align: center;

}

.Section.three p{
    font-family: 'Headline-Beatrice',Helvetica;

    font-size: 1.5rem;
    font-style: italic;

    line-height: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 20px;

    /* border: 1px solid; */
}

.Preview.Cover.content{
    width: 100%;
    /* border: 1px solid blue; */

    padding: 10px;
}

footer{
    background-color: F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.something-here{
    display: flex;

    gap: 50px ;
}

@media screen and (max-width:700px){
    .lead.heading,
    .lead.subheading,
    .lead.button,
    .Preview
    {
        display: flex;
        justify-content: center;
        text-align: center;

        flex-direction: column;
    }
    .what_here,
    .Preview.Cover{
        width: 100%;
    }
    main{
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .what_here #btns{
        display: flex;
        flex-direction: column;

        width: inherit;
    }


    .something-here h3,p{
        font-size: 10px;
        line-height: 1px;
    }

    .Section.three .heading p{
        font-size: 0.7rem;
    }

    #PrevNext  {
        display:none;
        /* align-items: center;
        justify-content: center;
        gap: 10px;

        width: 50%;
        height: 50%;

        border: 1px solid red; */
    }


}